{% extends 'base.html' %}
{% block content %}
<header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        {% if user.is_authenticated %}
        <div class="home-chat-container">
            <div class="home-messages">
                <div class="home-message home-sent">
                    Hello, how are you?
                </div>
                <div class="home-message home-received">
                    I'm good, thanks! And you?
                </div>
        </div>
        <div class="home-input-area">
            <input type="text" placeholder="Type a message...">
            <button>Send</button>
        </div>
    </div>
        {% else %}
        <div class="login-container">
            <div class="login-image"></div>
            <div class="login-form-container">
                <h1>Login</h1>
                <form method="POST">
                    {% csrf_token %}
                    <label for="id_username">Username:</label>
                    <input type="text" id="id_username" name="username">
                    <label for="id_password">Password:</label>
                    <input type="password" id="id_password" name="password">
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
        
        <div class="landing-page">
            <div></div>
            <p>Don't have an account?</p>
            <a href="{% url 'signup' %}">Sign Up</a>
        </div>
        <ul>
      </div>
    </nav>
    {% endif %}
  </header>

{% endblock %}